<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>MyBord Server</title>
    <style>
      body {
        background-color: linen;
      }
      h1 {
        color: #00a6ed;
        margin-left: 2rem;
      }
      h2 {
        margin-left: 4rem;
      }
    </style>
  </head>
  <body>
    <br />
    <h1>MyBord Server Landing Page</h1>
    <br />
    <h1>Heroku Release Version:</h1>
    <h2>- <%= htmlWebpackPlugin.options.releaseVersion %></h2>
    <br />
    <h1>Heroku Release at:</h1>
    <h2>- <%= htmlWebpackPlugin.options.releaseDate %></h2>
    <h2>- <%= htmlWebpackPlugin.options.releaseTime %></h2>
  </body>
</html>
